<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <style>
  <% for(var i = 0; i < 22; i++ ){%>
    .lan<%= i + 1 %> {filter: invert(<%= invert[i] %>%) sepia(1) saturate(5) hue-rotate(<%= hue[i] %>deg);position: absolute;width: 250px;height: 530px;}
  <%}%>
    .lan1text {z-index: 999;position: absolute;top: 76.95999999999994px;right:-166.06400000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan2text {z-index: 999;position: absolute;top: 163.16999999999987px;right:-126.87599999999998px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan3text {z-index: 999;position: absolute;top: 204.24000000000012px;right:-135.64999999999998px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan4text {z-index: 999;position: absolute;top: 216.45000000000005px;right:-67.556px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan5text {z-index: 999;position: absolute;top: 267.88000000000005px;right:-102.23799999999999px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan6text {z-index: 999;position: absolute;top: 296.0px;right:-57.23000000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan7text {z-index: 999;position: absolute;top: 333.0px;right:-40.352px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan8text {z-index: 999;position: absolute;top: 360.0099999999999px;right:-71.78000000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan9text {z-index: 999;position: absolute;top: 348.5400000000001px;right:-95.83600000000001px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan10text {z-index: 999;position: absolute;top: 323.75px;right:-131.92000000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan11text {z-index: 999;position: absolute;top: 350.7599999999999px;right:-139.67999999999998px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan12text {z-index: 999;position: absolute;top: 365.1899999999999px;right:-114.46000000000004px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan13text {z-index: 999;position: absolute;top: 397.75px;right:-101.07400000000001px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan14text {z-index: 999;position: absolute;top: 405.1500000000001px;right:-28.13000000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan15text {z-index: 999;position: absolute;top: 446.2200000000001px;right:-27.354px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan16text {z-index: 999;position: absolute;top: 420.2200000000001px;right:-62.751999999999995px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan17text {z-index: 999;position: absolute;top: 444.0px;right:-96.41800000000003px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan18text {z-index: 999;position: absolute;top: 444.02000000000004px;right:-64.02000000000001px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan19text {z-index: 999;position: absolute;top: 485.8100000000001px;right:-44.81400000000001px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan20text {z-index: 999;position: absolute;top: 470.27000000000004px;right:-76.24200000000002px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan21text {z-index: 999;position: absolute;top: 456.58000000000015px;right:-110.57999999999998px;width: 100%;font-size: 14px;font-family: verdana;}
    .lan22text {z-index: 999;position: absolute;top: 428.83000000000015px;right:-151.32px;width: 100%;font-size: 14px;font-family: verdana;}
  </style>
  <body>
    <h1>Temperature today in Sweden</h1>
    <div class="Sverige">
      <% for(var i = 1; i < 23; i++ ){%>
        <img src="/images/png/<%= i %>.png" srcset="/images/svg/<%= i %>.svg" class="lan<%= i %>">
        <div id="Sverige" div class="lan<%= i %>text">
         <p><%= temperature[i-1] %></p>
        </div>
      <%}%>
    </div>

  </body>


</html>
