/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

body {
  background-color: green;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 800px;
}

.Sverige {
    position: relative;
}

h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}
div {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
